* {
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}
:root {
  --font-heading: "Poppins", sans-serif;
  --primary-color: #1ebfc1;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: var(--font-heading);
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* =====================header============== */
.header.fixed {
  position: sticky;
  top: -35px;
  z-index: 1;
}
.header {
  background-color: #fff;
}
.header .img-pic {
  width: 32.137px;
  height: 32.731px;
  border-radius: 50%;
  background-color: black;
  transform: rotate(180deg) scaleX(-1);
}
.header .body {
  display: flex;
  align-items: center;
  padding: 52px 0 8px;
}
.header .logo {
  display: flex;
  text-align: center;
  justify-content: center;
}
.header .img-name {
  width: 75.517px;
  height: 17.47px;
  margin-top: 10px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  color: #2f3a3b;
  font-size: 1.6rem;
  padding: 8px 19.5px;
}
.nav a:hover {
  /* font-weight: 600; */
  color: #2f3a3b;
  text-shadow: 1px 0 0 currentColor;
}
.header .btn.sign-in:hover {
  color: #2f3a3b;
  text-shadow: 1px 0 0 currentColor;
}
.header .full-stop {
  width: 5.85px;
  height: 5.958px;
  margin-top: 21px;
}
.action {
  display: flex;
  margin-left: 117px;
}
.btn {
  width: 108px;
  height: 48px;
  text-align: center;
  font-size: 1.6rem;
  padding: 12px 23px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.header .btn.sign-up {
  color: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
}
.header .btn.sign-up:hover {
  background-color: var(--primary-color);
  border: 1px solid #fff;
  color: #fff;
}
/* ==================hero left================= */
.hero .body {
  display: flex;
  padding-bottom: 79px;
}
.hero .content-block {
  width: 50%;
  margin-top: 150px;
}
.hero .top-title {
  color: #767e7e;
  font-size: 1.4rem;
  margin-bottom: 18px;
}
.hero .title {
  width: 458px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
  margin-right: 71px;
}
.hero .desc {
  width: 374px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.77;
  margin-bottom: 52px;
}
.hero .cta-group {
  display: flex;
  align-items: center;
}
.hero .cta-group a:hover {
  color: var(--primary-color);
  background-color: #fff;
  border: #0d1111 solid 1px;
}
.hero .content-block .btn {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 25px;
  /* line-height: 35px; */
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: var(--primary-color);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
}
.hero .content-block .btn {
  opacity: 0.9;
}
.hero .play-video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #fff;
  margin-left: 50px;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}
.hero .content-block .play-video:hover {
  background: #eee;
  box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
/* ==================hero right================= */
.hero .content-media {
  position: relative;
  width: 50%;
}
.hero .content-media .media {
  width: 576px;
  height: 631px;
  object-fit: cover;
  margin-top: 62px;
  margin-left: auto;
}
.hero .media-course {
  position: absolute;
  top: 211px;
  left: -40px;
  display: flex;
  align-items: center;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .media-course::after {
  position: absolute;
  content: "";
  display: block;
  content: "";
  width: 28px;
  height: 4px;
  left: 29px;
  top: 45px;
  border-radius: 999px;
  background: #fff;
}
.hero .media-course .detail {
  width: 55px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 16px;
}
.hero .media-course .course-icon {
  width: 36px;
  height: 40px;
  margin: 17px 0 18px 25px;
}
.hero .media-schedules {
  position: absolute;
  top: 516px;
  left: -65px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.hero .schedules-icon {
  width: 74px;
  height: 6px;
}
.hero .schedules-icon.icon-1 {
  margin-top: 16px;
}
.hero .media-schedules .title {
  position: absolute;
  top: 16px;
  left: 36px;
  display: block;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}
.hero .avatar-block {
  position: relative;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .ava-list {
  display: flex;
}
.hero .avatar-block {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  top: 563px;
  right: 45px;
}
.hero .avatar-block .avt {
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -10px;
}
.hero .avt.more {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  width: 33px;
  height: 33px;
  background-color: var(--primary-color);
  padding-top: 12px;
}
.hero .avatar-block .detail {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin: 17px 0 8px;
}
/* ==================features============== */
.features {
  padding: 130px 0 130px;
}
.features .top-title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}
.features .heading-lv2 {
  width: 577px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
  padding: 18px 0 18px;
}
.features .desc {
  width: 590px;
  color: #767e7e;
  font-size: 1.8rem;
}
.features .feature-list {
  display: flex;
  margin-top: 80px;
  gap: 209px;
}
.feature-list img {
  width: 102px;
  height: 106px;
  padding: 29px 27px;
  border-radius: 25%;
}
.feature-list .img-1 {
  background: #ffc147;
}
.feature-list .img-2 {
  background: #ff947a;
}
.feature-list .img-3 {
  background: #bf83ff;
}
.feature-list .item-title {
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 26px;
  margin-bottom: 16px;
}
.feature-list .desc {
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 1.69;
}
/* =================course================== */

.course .body {
  height: 910px;
}
.course .top-title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}
.course .body .heading-lv2 {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  padding: 18px 0;
}
.course .course-item img {
  width: 359px;
  height: 393px;
  border-radius: 8px;
  opacity: 0.7;
  background: #d0efed;
}
.course .row-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 79px;
}
.course .row-top .desc {
  max-width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 1.78;
  padding-left: 0;
}
.course .row-top a {
  text-decoration: underline;
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
}
.course .course-list .course-item {
  position: relative;
}

.course .course-list {
  display: flex;
  height: 466px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  gap: 47px;
}
.course .course-detail {
  position: absolute;
  top: 322px;
  left: 17px;
  width: 325px;
  height: 195px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course .wrap-item .heading-lv3 {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  padding: 18px 0 16px 25px;
}
.course .wrap-item .cost {
  color: #767e7e;
  font-size: 1.6rem;
  padding: 0 0 6px 25px;
}
.course .wrap-item .cost-span {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}
.course .desc,
.static-inf {
  color: #767e7e;
  font-size: 1.4rem;
  padding: 0 0 6px 25px;
}
.course .static {
  margin-top: 18px;
  margin-left: -10px;
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
}
.course .static-inf::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #1ebfc1;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
}
/* =====================countdown=================== */
.countdown .countdown-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 205px;
  margin: 132px auto;
}
.countdown .static {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
}
.countdown .desc {
  color: #767e7e;
  font-size: 1.8rem;
  margin-top: 10px;
}
/* ===================feedback============= */
.feedback{
  padding: 132px 0 130px;
  padding-bottom: 130px;
}
.feedback .block-quote {
  margin: 37px 0 27px;
}
.feedback .comment {
  width: 419px;
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5;
  margin-bottom: 33px;
}
.feedback .desc strong {
  color: #070707;
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.6rem;
}
.feedback .desc {
  font-weight: 400;
  color: #767e7e;
}
.feedback .desc::before {
  content: "";
  width: 8px;
  height: 2px;
  background: #070707;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 3px;
}
.feedback .feedback-cta {
  display: flex;
  gap: 30px;
  margin-top: 52px;
}
.feedback .cta-btn {
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 19px 22px;
}
.feedback .cta-btn:hover{
  background: #eee;
  box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
  color: #fff;
  transition: 0.5s;
}
.feedback .cta-btn img {
  object-fit: cover;
  width: 6px;
  height: 12px;
}
.feedback .body {
  position: relative;
}
.feedback .avar-fb-1 {
  position: absolute;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  right: 171px;
  top: 78px;
}
.feedback .avar-fb-2 {
  object-fit: cover;
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  right: 0;
  top: 18px;
}
.feedback .avar-fb-3 {
  object-fit: cover;
  position: absolute;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  right: 443px;
  top: 0;
}
.feedback .avar-fb-4,
.avar-fb-5,
.avar-fb-6 {
  object-fit: cover;
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 50%;
}
.feedback .avar-fb-4 {
  right: 601px;
  top: 208px;
}
.feedback .avar-fb-5 {
  right: 389px;
  bottom: 0;
}
.feedback .avar-fb-6 {
  right: 32px;
  bottom: 29px;
}
